@page
@model WebJobsDemo.Pages.Actions.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Action</h4>
<hr />
<div class="row">
    <div class="col-md-8">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Action.Id" />
            <div class="form-group">
                <label asp-for="Action.Name" class="control-label"></label>
                <input asp-for="Action.Name" class="form-control" />
                <span asp-validation-for="Action.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Action.Type" class="control-label"></label>
                <input asp-for="Action.Type" class="form-control" placeholder="TypeName, AssemblyName" />
                <span asp-validation-for="Action.Type" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Action.MoreJson" class="control-label"></label>
                <textarea asp-for="Action.MoreJson" class="form-control" rows="10"></textarea>
                <span asp-validation-for="Action.MoreJson" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
