SET ANSI_NULLS ON
SET QUOTED_IDENTIFIER ON
CREATE TABLE [dbo].[WJbRules](
	[Id] [int] IDENTITY(1000,1) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[Disabled] [bit] NOT NULL,
	[Priority] [tinyint] NOT NULL,
	[ActionId] [int] NOT NULL,
	[MoreJson] [nvarchar](max) NULL,
 CONSTRAINT [PK_WJbRules] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

SET ANSI_PADDING ON

CREATE UNIQUE NONCLUSTERED INDEX [UX_WJbRules_Name] ON [dbo].[WJbRules]
(
	[Name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
ALTER TABLE [dbo].[WJbRules] ADD  CONSTRAINT [DF_WJbRules_Disabled]  DEFAULT ((0)) FOR [Disabled]
ALTER TABLE [dbo].[WJbRules] ADD  CONSTRAINT [DF_WJbRules_Priority]  DEFAULT ((2)) FOR [Priority]
ALTER TABLE [dbo].[WJbRules]  WITH CHECK ADD  CONSTRAINT [FK_WJbRules_WJbActions] FOREIGN KEY([ActionId])
REFERENCES [dbo].[WJbActions] ([Id])
ALTER TABLE [dbo].[WJbRules] CHECK CONSTRAINT [FK_WJbRules_WJbActions]
