SET ANSI_NULLS ON
SET QUOTED_IDENTIFIER ON
/*
EXEC [dbo].[Your_Delay] 10
*/
CREATE PROCEDURE [dbo].[Your_Delay_Demo]
    @Data varchar(10)
AS
DECLARE @Delay DATETIME = DATEADD(SECOND, CAST(@Data AS int), CONVERT(DATETIME, 0))

WAITFOR DELAY @Delay
